<div class="app-pinguinos-detail-container" *ngIf="selected">
  <app-pinguinos-detail  [pinguinoDetail]="selectedPinguino"> </app-pinguinos-detail>
 </div>
 
 <hr />
 


<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">ID</th>
          <th class="h4">Nombre</th>
          <th class="h4">Alimentacion</th>
          <th class="h4">Distribucion Mundial</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let c of pinguinos">
          <td>
            <dd>{{c.id}}</dd>
          </td>
          <td  (click)="onSelected(c)">
            <dd class="link-like"> {{ c.name }} </dd>
          </td>
          <td>
            <dd>{{c.feeding}}</dd>
          </td>
          <td>
            <dd>{{c.global_distribution}}</dd>
          </td>
      </tr>
      </tbody>
    </table>

    <div class="text-center">
      <h5>Especie con Mayor Distribucion Global es: {{ pinguino_mayor }}</h5>
      <p> CUENTA CON PRESENCIA EN: {{distribucion_mayor}}</p>
    </div>

    

    
  </div>
</div>